body, html {
	height: 100%;
	width: 100%;
	font-family: 'Archivo', sans-serif;
}



/* --- Hyperlinks --- */

a {
	color: #101010;
}

a:hover {
	color: #b5c7d8;
	transition-duration: 0.3s;
}



/* --- Buttons --- */

.btn {
	border-color: #ffffff;
	border-width: 4px;
	color: #111111;
	background-color: #cbcdd5;
	border-radius: 3px;
}

.btn:hover {
	border-color: #ff893b;
	border-width: 4px;
	color: #ffffff;
	border-radius: 3px;
}



/* --- Navbar --- */

.navbar {
	padding: 25px 0px 25px 0px;
	color: #101010;
}

.nav-stuff {
	font-size: 1.15em;
}

.nav-clickable {
	padding: 5px;
	border-radius: 3px;
}

.nav-clickable:hover {
	background-color: #cbcdd5;
	color: #ffffff;
	transition-duration: 0.3s;
	cursor: pointer;
	text-decoration: none;
}

#site-title {
	margin-left: 15px;
	max-height: 60px;
}



/* --- Jumbotron --- */

#body-content {
	text-align: center;
}

#top-row {
	background-image: url('../imgs/grey-background.jpg');
}

#album-img {
	max-height: 700px;
}

#album-title {
	font-size: 3.3em;
}

#preorder-button {
	font-size: 2.0em;
}



/* --- Music --- */

#music-header {
	font-size: 2.0em;
}

#spotify-container {
	height: 500px;
	max-width: 630px;
}



/* --- Contact --- */

#contact-header {
	font-size: 2.0em;
}

#contact-content {
	font-size: 0.85em;
}



/* --- YouTube --- */

#youtube {
	display: none;
	padding: 35px;
}

#yt-iframe {
	max-height: 236px;
	max-width: 420px;
}




/* --- Misc --- */

#logo {
	max-height: 120px;
}

.grey-row {
	padding-top: 25px;
	background-color: #cbcdd5;
}

.white-row {
	padding: 25px 0px 25px 0px;
	background-color: #ffffff;
}
