/* #da5a50 -- album bckgrnd
 * #e3973f -- letters
 * #b0edff -- bunk
 * #96e9ff -- bunk
 * #7de2ff -- dark blue, not bunk
 * #e3f9ff -- lighter blue for btn bckgrnd
 * #caf4ff -- same as above, but better */

body, html {
	height: 100%;
	width: 100%;
	font-family: 'Archivo', sans-serif;
}

p {
	font-family: 'Archivo Narrow', sans-serif;
	font-size: 1.1em;
	padding: 0px;
}



/* --- Hyperlinks --- */

a {
	color: #101010;
	text-decoration: none;
}

a:hover {
	color: #e96662;
	transition-duration: 0.3s;
	text-decoration: none;
}



/* --- Buttons --- */

.btn {
	border-color: #ffffff;
	border-width: 4px;
	color: #ffffff;
	background-color: #e96662;
	border-radius: 3px;
	margin-bottom: 40px;
}

.btn:hover {
	border-color: #eecb00;
	border-width: 4px;
	color: #e3973f;
	border-radius: 3px;
	font-style: italic;
}

/*#buy-btn {

}*/



/* --- Navbar --- */

.navbar {
	padding: 25px 0px 25px 0px;
	color: #101010;
}

.nav-stuff {
	font-size: 1.15em;
}

.nav-clickable {
	padding: 5px;
	border-radius: 3px;
}

.nav-clickable:hover {
	background-color: #e96662;
	color: #ffffff;
	transition-duration: 0.3s;
	cursor: pointer;
	text-decoration: none;
}

#site-title {
	margin-left: 15px;
	max-height: 60px;
}



/* --- Jumbotron --- */

#body-content {
	text-align: center;
}

#top-row {
	background-color: #da5a50;
	background-size: cover;
}

#album-img {
	display: block;
	width: auto;
	height: auto;
}





#album-title {
	color: #ffffff;
	font-size: 2.85em;
	padding-top: 15px;
}

#album-info {
	padding-bottom: 17px;
	color: #ffffff;
}

/*#yt-container {
	position: relative;
    width: 100%;
    height: 100%;
    padding-bottom: 56.25%;
}

#yt-iframe {
	position: absolute;
    top: 55px;
    left: 0;
    width: 100%;
    height: 100%;
}

#yt-row {
	padding-bottom: 50px;
}*/

/*#preorder-window {
	width: 105%;
	position: relative;
	left: -15px;
	min-height: 400px;
}
*/



/* --- Tour --- */

#tour-col {
	min-height: 400px;
}





/* --- Music --- */

.music-container {
	height: 500px;
	max-width: 630px;
	overflow: hidden;
	padding-top: 25px;
}

.music-iframe {
	height: 100%;
	width: 100%;
}

#spotify-iframe {
	border: 3px solid white;
	border-radius: 3px;
}

#applemusic-iframe {
	min-width: 100%;
}



/* --- Contact --- */

#contact-content {
	font-size: 1.1em;
	font-family: 'Archivo Narrow', sans-serif;
	text-align: center;
}



/* --- YouTube --- */

/*#youtube {
	display: none;
	padding: 35px;
}  */





/* --- Misc --- */

#logo {
	max-height: 120px;
}

.grey-row {
	padding-top: 25px;
	background-color: #da5a50;
	color: #ffffff;
}

.white-row {
	padding: 25px 0px 25px 0px;
	background-color: #ffffff;
}

.buffer-row {
	min-height: 45px;
}

.byline {
	font-size: 0.75em;
}

#back-to-top-container {
	font-family: 'Archivo Narrow', sans-serif;
	font-size: 0.95em;
}

/*.hundies {
	height: 100%;
	width: 100%;
	margin: 0px;
}*/

.section-header {
	font-size: 2.0em;
}
