body, html {
	height: 100%;
	width: 100%;
	font-family: 'Archivo', sans-serif;
}

a {
	color: #101010;
}

a:hover {
	color: #b5c7d8;
	transition-duration: 0.3s;
}

.navbar {
	padding-top: 25px;
	background-color: #ffffff;
	color: #101010;
}

.nav-stuff {
	font-size: 1.15em;
}

.nav-clickable {
	padding: 5px;
	border-radius: 3px;
}

.nav-clickable:hover {
	background-color: #cbcdd5;
	color: #ffffff;
	transition-duration: 0.3s;
	cursor: pointer;
	text-decoration: none;
}

/*.navbar-header {
    float: left;
    text-align: center;
    width: 100%;
}*/

.btn {
	border-color: #ffffff;
	border-width: 4px;
	color: #111111;
	background-color: #cbcdd5;
	border-radius: 3px;
}

.btn:hover {
	border-color: #ff893b;
	border-width: 4px;
	color: #ffffff;
	border-radius: 3px;
}

/*#top-row {
	padding-top: 30px;
}*/

#body-content {
	padding-top: 15px;
	text-align: center;
}

#album-img {
	max-height: 685px;
	display: none;
}

#album-title {
	font-size: 3.3em;
}

#preorder-button {
	font-size: 2.0em;
}

.preorder-logo {
	max-height: 30px;
	opacity: 0;
}

#site-title {
	margin-left: 15px;
	max-height: 60px;
}

#logo {
	max-height: 120px;
}

#tour-title {
	font-size: 2.6em;
	padding: 65px 0px 5px 0px;
}

.tour-row {
	padding: 25px;
}

.tickets-btn {
	font-size: 1.2em;
}

#youtube {
	display: none;
	padding: 35px;
}

#yt-iframe {
	max-height: 236px;
	max-width: 420px;
}
/*
.footer {
	padding-top: 25px;
	background-color: #cbcdd5;
}*/

.grey-row {
	padding-top: 25px;
	background-color: #cbcdd5;
}

.white-row {
	padding: 25px 0px 25px 0px;
	background-color: #ffffff;
}

#music-header {
	font-size: 2.0em;
}

.contact {
	font-size: 0.85em;
}

#contact-header {
	font-size: 2.0em;
}

/*#preorder-container {
	margin-top: 45px;
	display: none;
	font-size: 1.6em;
	background-color: #e2e2e2;
}*/



/*
.btn-primary {
	background-color: #000000;
	color: #64E764;
	border-color: #74E774;
}

.btn-primary:hover {
	background-color: #222222;
	border-color: #74E774;
 }*/
