body, html {
	height: 100%;
	width: 100%;
	font-family: 'Archivo', sans-serif;
}

p {
	font-family: 'Archivo Narrow', sans-serif;
	font-size: 1.1em;
	padding: 0px;
}



/* --- Hyperlinks --- */

a {
	color: #101010;
	text-decoration: none;
}

a:hover {
	color: #b5c7d8;
	transition-duration: 0.3s;
	text-decoration: none;
}



/* --- Buttons --- */

.btn {
	border-color: #ffffff;
	border-width: 4px;
	color: #111111;
	background-color: #cbcdd5;
	border-radius: 3px;
}

.btn:hover {
	border-color: #ff893b;
	border-width: 4px;
	color: #ffffff;
	border-radius: 3px;
}



/* --- Navbar --- */

.navbar {
	padding: 25px 0px 25px 0px;
	color: #101010;
}

.nav-stuff {
	font-size: 1.15em;
}

.nav-clickable {
	padding: 5px;
	border-radius: 3px;
}

.nav-clickable:hover {
	background-color: #cbcdd5;
	color: #ffffff;
	transition-duration: 0.3s;
	cursor: pointer;
	text-decoration: none;
}

#site-title {
	margin-left: 15px;
	max-height: 60px;
}



/* --- Jumbotron --- */

#body-content {
	text-align: center;
}

#top-row {
	background-image: url('../imgs/grey-background2.jpeg');
	background-size: cover;
}

#album-img {
	display: block;
	width: auto;
	height: auto;
}

#album-title {
	font-size: 2.85em;
	padding-top: 15px;
}

#album-info {
	padding-bottom: 17px;
}

#yt-container {
	position: relative;
    width: 100%;
    height: 100%;
    padding-bottom: 56.25%;
}

#yt-iframe {
	position: absolute;
    top: 55px;
    left: 0;
    width: 100%;
    height: 100%;
}

#yt-row {
	padding-bottom: 50px;
}

/*#preorder-window {
	width: 105%;
	position: relative;
	left: -15px;
	min-height: 400px;
}
*/


/* --- Music --- */

#music-header {
	font-size: 2.0em;
}

.music-container {
	height: 500px;
	max-width: 630px;
	overflow: hidden;
	padding-top: 25px;
}

.music-iframe {
	height: 100%;
	width: 100%;
}

#spotify-iframe {
	border: 3px solid white;
	border-radius: 3px;
}

#applemusic-iframe {
	min-width: 100%;
}



/* --- Contact --- */

#contact-header {
	font-size: 2.0em;
}

#contact-content {
	font-size: 1.1em;
	font-family: 'Archivo Narrow', sans-serif;
	text-align: center;
}



/* --- YouTube --- */

/*#youtube {
	display: none;
	padding: 35px;
}  */





/* --- Misc --- */

#logo {
	max-height: 120px;
}

.grey-row {
	padding-top: 25px;
	background-color: #cbcdd5;
}

.white-row {
	padding: 25px 0px 25px 0px;
	background-color: #ffffff;
}

.buffer-row {
	min-height: 45px;
}

.byline {
	font-size: 0.75em;
}

#back-to-top-container {
	font-family: 'Archivo Narrow', sans-serif;
	font-size: 0.95em;
}

.hundies {
	height: 100%;
	width: 100%;
	margin: 0px;
}
