/*
#82c8fc lightskyblue
#eb2583 deeppink
#f62f96 deeppink2
#f671fc violet
#9197f8 cornflowerblue
#7f7df3 mediumslateblue
*/

/* 
5c96fc cornflower blue
50a7fc
fb164f crimson
fbab89 light salmon
fdcaad peach puff
*/

:root {
	--row-bg: #50a7fc;
	--row-color: #ffffff;
	--alt-row-bg: #ffffff;

	--a-color: #3a3a3a;
	--a-hover: #7f7df3;

	--nav-color: #3a3a3a;
	--nav-hover: #ffffff;
	--nav-hover-bg: #7f7df3;

	--btn-bg: #fbab89;
	--btn-color: #ffffff;
	--btn-brdr-color: #fdcaad;
	--btn-hover: #fb164f;
	--alb-info: #ffffff;
	--bandsintown: #7f7df3;

}


body, html {
	height: 100%;
	width: 100%;
	font-family: 'Archivo', sans-serif;
}

p {
	font-family: 'Archivo Narrow', sans-serif;
	font-size: 1.1em;
	padding: 0px;
}



/* --- Hyperlinks --- */

a {
	color: var(--a-color);
	text-decoration: none;
}

a:hover {
	color: var(--a-hover);
	transition-duration: 0.3s;
	text-decoration: none;
}



/* --- Buttons --- */

.btn {
	border-color: var(--btn-brdr-color);
	border-width: 4px;
	color: var(--btn-color);
	background-color: var(--btn-bg);
	border-radius: 3px;
	margin-bottom: 40px;
}

.btn:hover {
	border-color: var(--btn-hover);
	border-width: 4px;
	color: var(--btn-hover);
	border-radius: 3px;
	font-style: italic;
}

/*#buy-btn {

}*/



/* --- Navbar --- */

.navbar {
	padding: 25px 0px 25px 0px;
	color: var(--nav-color);
}

.nav-stuff {
	font-size: 1.15em;
}

.nav-clickable {
	padding: 5px;
	border-radius: 3px;
}

.nav-clickable:hover {
	background-color: var(--nav-hover-bg);
	color: var(--nav-hover);
	transition-duration: 0.3s;
	cursor: pointer;
	text-decoration: none;
}

#site-title {
	margin-left: 15px;
	max-height: 60px;
}

#tour-link:hover, #music-link:hover, #contact-link:hover, #shop-link:hover {
	color: var(--nav-hover);
}



/* --- Jumbotron --- */

#body-content {
	text-align: center;
}

#top-row {
	background-color: var(--row-bg);
	background-size: cover;
}

#album-img {
	display: block;
	width: auto;
	height: auto;
}





#album-title {
	color: var(--alb-info);
	font-size: 2.2em;
	padding-top: 15px;
}

#album-info {
	padding-bottom: 17px;
	color: var(--alb-info);
}

/*#yt-container {
	position: relative;
    width: 100%;
    height: 100%;
    padding-bottom: 56.25%;
}

#yt-iframe {
	position: absolute;
    top: 55px;
    left: 0;
    width: 100%;
    height: 100%;
}

#yt-row {
	padding-bottom: 50px;
}*/

/*#preorder-window {
	width: 105%;
	position: relative;
	left: -15px;
	min-height: 400px;
}
*/



/* --- Tour --- */

#tour-col {
	min-height: 400px;
}





/* --- Music --- */

.music-container {
	height: 500px;
	max-width: 630px;
	overflow: hidden;
	padding-top: 25px;
}

.music-iframe {
	height: 100%;
	width: 100%;
}

#spotify-iframe {
	border: 3px solid white;
	border-radius: 3px;
}

#applemusic-iframe {
	min-width: 100%;
}



/* --- Contact --- */

#contact-content {
	font-size: 1.1em;
	font-family: 'Archivo Narrow', sans-serif;
	text-align: center;
}



/* --- YouTube --- */

/*#youtube {
	display: none;
	padding: 35px;
}  */





/* --- Misc --- */

#logo {
	max-height: 120px;
}

.grey-row {
	padding-top: 25px;
	background-color: var(--row-bg);
	color: var(--row-color);
}

.white-row {
	padding: 25px 0px 25px 0px;
	background-color: var(--alt-row-bg);
}

.buffer-row {
	min-height: 45px;
}

.byline {
	font-size: 0.75em;
}

#back-to-top-container {
	font-family: 'Archivo Narrow', sans-serif;
	font-size: 0.95em;
}

/*.hundies {
	height: 100%;
	width: 100%;
	margin: 0px;
}*/

.section-header {
	font-size: 2.0em;
}

#tagline:hover {
	color: #ffffff;
}
